.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --heading-font: 'Roboto', san-serif;
    --paragraph-font: 'Roboto', san-serif;
    --color-one: #f8f9fa;
    --color-two: #002b5c;
    --color-three: #cccccc;
    --color-four: #212529;
    --color-five: #ff7043;
}

body {
    background-color: var(--color-one);
    color: var(--color-four);
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


/**********HEADER**********/
header {
    background-color: var(--color-two);
    color: var(--color-one);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.logo-and-text {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px;
    margin-right: 1rem;
}

.header-text h1 {
    margin: 0;
    font-size: 1.5rem;
}

.header-text p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-one);
}

/**********NAVAGATION MENU**********/
nav {
    background-color: var(--color-two);
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    /*grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;*/
}

.menu-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.menu-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.menu-links li a:hover {
    color: var(--color-five);
    background-color: var(--color-four);
    font-size: large;
}

.menu-links li a.active {
    text-decoration: double underline;
}

/**********HAMBURGER**********/
#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}

/**********DIRECTORY ONLY**********/
/**********CARDS**********/
#members {
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--color-five);
    border-radius: 8px;
    gap: 26px;
    padding: 26px;
    background-color: var(--color-two);
    justify-content: center;
    max-width: 1234px;
    margin: 0 auto;
    align-items: stretch;
    margin-bottom: 26px;
}

section {
    background-color: var(--color-three);
    border: 2px solid var(--color-five);
    border-radius: 8px;
    padding: 26px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;

}

#cards section .top-content {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cards section .top-content h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

#cards section p:first-of-type {
    margin-top: 10;
}

#cards.grid-view {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 26px;
    align-items: center;
}

#cards.list-view {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.view-toggle {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 26px auto;
    text-align: center;
}

.view-toggle button {
    padding: 14px 26px;
    font-size: 1.5rem;
    border: 2px solid var(--color-five);
    border-radius: 8px;
    background-color: var(--color-two);
    color: var(--color-one);
    cursor: pointer;
}

.view-toggle button:hover {
    background-color: var(--color-five);
    color: var(--color-two);
}

/**********TABLET**********/
@media (max-width: 1024px) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/**********MOBILE**********/
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #hamburger {
        display: block;
        align-self: flex-end;
    }

    nav {
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        max-height: 0;
    }

    nav.open {
        max-height: 300px;
        display: block;
    }

    .menu-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .menu-links li {
        text-align: left;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid #ff7043;
    }

    .menu-links li a {
        display: block;
    }


    /**********smaller****/
    @media (max-width: 480px) {
        #cards.grid-view {
            grid-template-columns: 1fr;
            gap: 14px;
        }

        .view-toggle {
            flex-direction: column;
            gap: 8px;
        }

        #grid-view {
            display: none;
        }
    }


    /******DIRECTORY ONLY*****/
    #cards {
        grid-template-columns: 1fr;
    }



}

/**********FOOTER**********/
footer {
    background-color: var(--color-two);
    color: var(--color-two);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.left-footer {
    flex: 1;
    text-align: left;
    color: var(--color-one);
    /*margin: 2px;*/
}

.left-footer p {
    line-height: 1;
    gap: 2px;
    margin: 0;
    font-size: 13px;
    font-stretch: expanded;
}

.address1 {
    font-style: italic;
}

.address2 {
    font-style: italic;
}

.addressEmail {
    text-decoration: underline;
}

.social-icons img {
    flex: 0 0 auto;
    text-align: center;
    /*align-items: center;*/
    justify-content: space-between;
}

.right-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    text-align: left;
    color: var(--color-one);
    gap: 4px;
}

.right-footer p {
    line-height: 1;
    gap: 2px;
    margin: 0;
    font-size: 13px;
}